*		{ font-family: Arial}
div#sbheader	{ font-family: "Verdana", sans-serif, color: #9000b3}
div#nav		{ text-align: center; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #cee5f5; }
div#error		{ background: #f0d6d6; padding: 0.5em;}

