*		{ font-family: Arial; padding: 0.3em;}
body 		{  width: 100%; height: 100%; padding: 0.5em; 
		   margin: 0;}
.centered-wrapper  { position: relative; text-align: center;}
.centered-wrapper:before { content: ""; position: relative; display: inline-block;
		 	   width: 0; height: 100%; vertical-align: middle;}
.centered-stuff  { display: inline-block; vertical-align: middle; outline: 1px solid black;}
.wrapper	 { text-align: center; float: center; margin-top: 1em;}
.head		   img{width: 10%; height: 10%;}
.sbheader	 { font-family: "Arial"; sans-serif; color: gray;}
.menu	         { text-align: center; float: center; font-size: 0.8em; padding: 0.5em; 
		   margin-bottom: 1em; background-color: LightGray;}
.flash	  	 { background: #f0d6d6; padding: 0.5em;}
.Studyseshs 	 { float: right; color: purple;}
.link {
    color: black;
}
a:hover, a:active{
    color: white;
    font-size: 150%;
}
a:active{
    font-style: italic;
}

/* Colored Content Boxes */
.box-blue,
.box-gray,
.box-green,
.box-grey,
.box-red,
.box-yellow {margin:0 0 25px;
	    overflow:hidden;
	    padding:20px;
	    -webkit-border-radius: 10px;
            border-radius:10px; max-width:300px;}
.box-blue {background-color:#d8ecf7;
	  border:1px solid #afcde3;max-width:300px;}
.box-gray {background-color:#e2e2e2;
	  border:1px solid #bdbdbd;max-width:300px;}
.box-green {background-color:#d9edc2;
	   border:1px solid #b2ce96;max-width:300px;}

.box-grey {background-color:#F5F5F5;
	  border:1px solid #DDDDDD;max-width:300px;}

.box-red {background-color:#f9dbdb;
	 border:1px solid #e9b3b3;max-width:300px;}

.box-yellow { background-color:#fef5c4; border:1px solid #fadf98; max-width:300px; align:}

