<!-- extend from base layout -->
{% extends "layout.html" %}

{% block body %}
  <h1>Create a New Session</h1>
  <body class="centered-wrapper">
    <div class="centered-stuff">
      <form action="" method="post">
        <dl>
          <dt>Please give your session a name:
          <dd><input type=text name=title>
          <dt>Please enter the location of your session:
          <dd><input type=text name=location>
          <dt>Please enter the subject you are working on:
          <dd><input type=text name=subject>
          <dt>Please enter the class you are working on:
          <dd><input type=text name=section>
          <dt>Please enter the time your session will start:
          <dd><input type=text name=start_time>
          <dt>Please enter the time your session will end:
          <dd><input type=text name=stop_time>
          <dt>Please enter a description for your session:
          <dd><input type=text name=description>
          <dt>Please declare a host for your session:
          <dd><input type=text name=host>
          <dt>Please declare any participants in your session:
          <dd><input type=text name=participants>
          <dd><input type=submit id="add_listing_submit" value='Create Session'>
        </dl>
      </form>
    </div>
  </body>
{% endblock %}
