{% extends "layout.html" %}
{% block body %}
<div>
 <h2> {{ myName }}</h2>
</div>
<div class="Studyseshs">
<!--<h3><center>Current Study Sessions</center></h3> -->
</div>
<body>
<div id="right">
<!--<script type="text/javascript">    function test_func(data)                 console.log(data);test_func({{ data|safe }})
</script>-->  
<script src="../static/mapMaker.js"></script>
<script> initialize({{listings}});</script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAoQzO6afbcJTkCV6_8LcapHtAnLn3b6_o&callback=initialize" async defer></script>
<div id="map" style="height: 500px; width:450px; float: right"></div>
</div>
<div id="left" style="height: 500px; width:200px;">
  <!--  {% for item in listings %}
        <span onclick=test_func( {{ item|safe }} );> {{ item }}</span>
	{% endfor %}
    </div>-->
     <div class="sesssion">
      <!--{% for listing in listings %} -->
        <div class ="box-green">
        {{listing.location}} <br>
        {{listing.title}}  <br>
        {{listing.latitude}} <br>
        {{listing.longitude}}
        </div>
        <div class ="box-blue">
        {{listing.location}} <br>
        {{listing.title}}  <br>
        {{listing.latitude}} <br>
        {{listing.longitude}}
        </div>
        <div class ="box-yellow">
        {{listing.latitude}} <br>
        {{listing.longitude}} <br>
        {{listing.location}} <br>
        {{listing.title}} 
        </div>
        <div class ="box-red">
        {{listing.latitude}} <br>
        {{listing.longitude}}<br>
        {{listing.location}} <br>
        {{listing.title}} 
        </div>
      <!--{% endfor %}-->
      </div>  
    </div>
</body>
{% endblock %}
