{% extends "layout.html" %}
{% block body %}
<div>
  <h2> {{ myName }}</h2>
</div>
<div class="Studyseshs">
  <h3>Current Study Sessions</h3>

<body>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoQzO6afbcJTkCV6_8LcapHtAnLn3b6_o" async defer></script>-->
    <script src="../static/mapMaker.js"></script>
    <script> initialize(36.9765546,-122.0323493,"Breakfast at?","The Abbey");</script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAoQzO6afbcJTkCV6_8LcapHtAnLn3b6_o&callback=initialize" async defer></script>
    <p>
      <div id="map" style="height: 350px; width: 350px; float:right;"> </div>
    </p>
    <div>
    {% for listing in listings %}
    <div class ="box-blue">
        {{listing.title}} - {{listing.location}} <br>
        {{listing.subject}} - {{listing.section}} <br>
        {{listing.start_time}} - {{listing.stop_time}} <br>
        {{listing.description}}
    </div>
    <div class ="box-green">
        {{listing.title}} - {{listing.location}} <br>
        {{listing.subject}} - {{listing.section}} <br>
        {{listing.start_time}} - {{listing.stop_time}} <br>
        {{listing.description}}
    </div>
    <div class ="box-green">
        {{listing.title}} - {{listing.location}} <br>
        {{listing.subject}} - {{listing.section}} <br>
        {{listing.start_time}} - {{listing.stop_time}} <br>
        {{listing.description}}
    </div>
    {% endfor %}
    
  </body>
</div>
</html>



{% endblock %}
