<!doctype html>
<title>Study Buddy</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styleLayout.css') }}">
<div class=page>
<div class="wrapper">
  <header class="head">
  <img src="../static/images/calc_pic.jpg" alt="yo"/>  
  <h1 class="sbheader">StudyBuddy</h1>
  <nav class="menu">
    {% if not session.logged_in %}
        <a href="{{ url_for('register') }}" class="link">Register</a>
        <a href="{{ url_for('login') }}" class="link">Log In</a>
        <a href="/index" class="link">Index</a>
        <a href="landing" class="link">Home</a>
        <a href="profile" class="link">Profile</a>    
        <a href="/inbox" class="link">Messages</a>
	<a href="/add_listing" class="link">Create Study Session</a>
    {% else %}
	 <a href="/index" class="link">Index</a>
        <a href="landing" class="link">Home</a>
        <a href="profile" class="link">Profile</a>
        <a href="/inbox" class="link">Messages</a>
        <a href="{{ url_for('logout') }}" class="link">Log Out</a>
    {% endif %}
  </nav>
  </header>
</div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }} </div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
