<!doctype html>
<title>Study Buddy</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>StudyBuddy</h1>
  <div class=metanav>
    {% if not session.logged_in %}
    <a href="{{ url_for('register') }}">Register</a>
    <a href="{{ url_for('login') }}">Log in</a>
    <a href="/index">Index</a>
    <a href="landing">Home</a>
    <!--    <a href="login2">Login</a></li> -->
    <a href="profile">Profile</a></li>    
<a href="/inbox"> Messages</a></li>
{% else %}
<a href="{{ url_for('logout') }}">log out</a>
{% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
