<!DOCTYPE html>
<html>
  <h1>User Profile Page</h1>
  <head>
    <title>Simple Map</title>
      <meta name="viewport" content="initial-scale=1.0">
      <meta charset="utf-8">
        <style>
          html, body {
          height: 500px;
          width: 625px;
          margin: 0;
          padding: 0;
          }
          #map {
          height: 450px;
          width: 600px;
          float: right;
          }
        </style>
  </head>
  <body>
    <div id="map"></div>
    <script type="text/javascript" src="mapMaker.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoQzO6afbcJTkCV6_8LcapHtAnLn3b6_o&callback=initiliazeMap" async defer></script>     
  </body>
</html>
